@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container {
  @apply mx-auto px-3 md:px-6 w-full sm:max-w-xl md:max-w-full lg:max-w-screen-xl;
}

.btn-card {
  @apply duration-700 bg-[#E8E8E8] hover:bg-[#1F2937] text-[#BB8506] border-[#BB8506] rounded-lg  hover:border-[#1F2937] border-0  border-b-[3px] 
     /* inline-flex items-center capitalize lg:text-base text-xs lg:px-6 md:px-4 px-3 lg:py-3 py-2  mb-3 font-medium text-white transition hover:drop-shadow-2xl rounded border-none shadow-md md:mb-0  bg-rose-400  hover:bg-rose-500 duration-700; */;
}

.btn-dark {
  @apply duration-700 bg-[#1F2937] md:py-3 md:px-4 px-3 py-2 text-xs md:text-base hover:bg-[#1F2937] text-white hover:text-rose-500 border-[#1F2937] rounded-full  hover:border-[#1F2937] border-0  border-b-[3px];
}

.btn-white {
  @apply duration-700 bg-none hover:bg-white text-white hover:text-[#1F2937] border-white rounded-lg   border-0  border-b-[3px];
}

/* .btn-sec {
    @apply inline-flex items-center justify-center lg:text-base capitalize text-xs  lg:px-6 tracking-wide md:px-4 px-3 lg:py-3 py-2  mb-3 font-medium transition rounded drop-shadow-2xl border border-rose-400 text-rose-400 hover:text-white hover:bg-rose-400 duration-700;
  } */

.badge {
  @apply text-sm font-semibold bg-[#111827] py-[11px] px-4 text-white;
}

.active {
  @apply font-semibold text-base uppercase whitespace-nowrap tracking-wide text-rose-500  transition-colors duration-300;
}

.default {
  @apply font-semibold text-base uppercase whitespace-nowrap tracking-wide text-slate-600 hover:text-rose-500 transition-colors duration-300;
}

.dashActive {
  @apply text-white font-semibold tracking-wide  transition-colors duration-300;
}

.dashDefault {
  @apply font-semibold tracking-wide text-[#151515] hover:text-gray-500 transition-colors duration-300;
}

.font-cinzel{
  font-family: 'Cinzel Decorative', serif;
}

.font-mono{
  font-family: 'IBM Plex Mono', monospace;
}


/* swiper js css */
:root {
  --swiper-navigation-size: 20px;
}

.swiper-button-next:after, .swiper-button-prev:after  {
  background: white;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  color: black;
  font-size: 20px !important;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.214);
  width: 30px;
  height: 30px;
}

/* {
  background: white;
  border-radius: 50%;
  font-size: 20px !important;
  font-weight: 600;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.214);
  width: 30px;
  height: 30px;
} */

/* .swiper-button-next:hover,
.swiper-button-prev:hover {
  box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.415);
} */

/* .swiper-pagination {
  padding-top: 40px !important;
} */

/* .swiper-pagination-bullet-active {
  background-color: rgb(244 63 94) !important;
  margin: 8px !important;
  border: 1px solid red !important;
  border-radius: 50% !important;
}

.swiper-pagination-current {
  color: rgb(244 63 94);
} */


/*--------------------- swiper css end ---------------*/


/* Scroll bar */
/* For WebKit based browsers (Chrome, Safari) */
/* Set the width and track background color */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: darkslategrey;
  border-radius: 3.5px; /* Half of the width to make it rounded */
}

/* Add a pseudo-element for the rounded corners of the thumb */
::-webkit-scrollbar-thumb:hover::before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background-color: #fde8c0;
  border-radius: 5px;
}
